<div>
    <h1 style="text-align: center; color: #4360d5;">Todo App</h1>
    <div class="taskName">
      <label for="taskName" style="font-size: large;">Task Name:</label>
      <input type="text" id="taskName" [(ngModel)]="newTodo.taskName" style="margin-left: 30px;" />
    </div>
    <div class="time">
      <label for="time" style="font-size: large;">Task Date:</label>
      <input type="datetime-local" id="time" [(ngModel)]="newTodo.taskDate"  style="margin-left: 40px;"/>
    </div>
    <div>
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search by Task Name" style="width:50%;margin-top:10px;">      
        <button type="button" class="btn btn-success"(click)="addTodo()" style="margin-left: 95%;margin-bottom:10px;border-radius:0px;background-color:green;width:5%;height:5%;font-size:large;" mdbRipple>Add</button>
    </div>
    <table style="border-collapse: collapse; width: 100%;">
        <tr style="border: 1px solid #ddd; padding: 8px; text-align: left; height: 30px;background-color: rgb(187, 179, 171);">
          <th>Task Name</th>
          <th>Task Date</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let todo of filteredTodos" style="border: 1px solid #ddd; padding: 10px; text-align: left; height: 30px;">
          <td>{{ todo.taskName }}</td>
          <td>{{ todo.taskDate | date: 'short' }}</td>
          <td>
            <button (click)="openEditPopup(todo)" style="background-color: blueviolet;padding:2px;border-radius:0px;">Edit</button>
            <button (click)="deleteTodo(todo.id!)" style="background-color: red;padding:2px;border-radius:0px;margin-left:10px;">Delete</button>
          </td>
        </tr>
      </table>
    <div *ngIf="editingTodo">
      <div class="popup">
        <div>
            <label for="editTaskName">Edit Task Name:</label>
            <input type="text" id="editTaskName" [(ngModel)]="editingTodo.taskName" />
        </div>
        <br>
       <div>
        <label for="editTime">Edit Task Date:</label>
        <input type="datetime-local" id="editTime" [(ngModel)]="editingTodo.taskDate" style="margin-right: 20px;" />
       </div>
       <div>
        <button (click)="closeModal()" style="margin-left: 40%;margin-top:11px;border-radius:0px;background-color:red;width:20%;font-size:medium;">Close</button>  
        <button (click)="updateTodo()" style="margin-left: 8%;margin-top:11px;border-radius:0px;background-color:green;width:20%;height:5%;font-size:medium;">Submit</button>
    </div>
    </div>
  </div>